<nav class="navbar navbar-expand-md navbar-light bg-nav">
    <button (click)="isCollapse = !isCollapse" class="navbar-toggler navbar-toggler-right" type="button">
        <span class="navbar-toggler-icon"></span> 
    </button>

    <div class="navbar-collapse" [ngClass]="{'collapse': isCollapse, 'navbar-collapse': true}" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/maps" routerLinkActive="active"
                    (click)="isCollapse = true" mdbRippleRadius>
                    <div class="active" i18n>マップ</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/moments" routerLinkActive="active"
                    (click)="isCollapse = true" mdbRippleRadius>
                    <div class="active" i18n>タイムライン</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/graphs" routerLinkActive="active"
                    (click)="isCollapse = true" mdbRippleRadius>
                    <div class="active" i18n>グラフ</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/notifications" routerLinkActive="active"
                    (click)="isCollapse = true" mdbRippleRadius>
                    <div class="active" i18n>通知</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/messages" routerLinkActive="active"
                    (click)="isCollapse = true" mdbRippleRadius>
                    <div class="active" i18n>メッセージ</div>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="nav-item" dropdown>
                <a class="nav-item nav-link dropdown-toggle" routerLinkActive="active"
                (click)="isCollapse = true" dropdownToggle mdbRippleRadius>
                    <div class="avator"></div>
                </a>
                <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                    <a class="dropdown-item" routerLink="/profile"
                        (click)="isCollapse = true" i18n>プロフィール</a>
                    <a class="dropdown-item" routerLink="/settings"
                        (click)="isCollapse = true" i18n>設定</a>
                    <a class="dropdown-item" routerLink="/auth/logout"
                        (click)="isCollapse = true" i18n>ログアウト</a>
                </div>
            </li>
        </ul>
    </div> 
</nav>