$screen-xs: 480px !default; //Extra small screen(xs)->smartphone
$screen-sm: 768px !default; //Small screen(sm) ->tablet
$screen-md: 992px !default; //Medium screen(md) ->desktop
$screen-lg: 1200px !default; //Large screen(lg） ->wide desktop

@mixin mq($DEVICE) {
    // Extra small screen / smartphone
    @if $DEVICE == "xs" {
        @media (max-width: ($screen-sm - 1px)) {
            @content;
        }
    }
    // Small screen / tablet
    @else if $DEVICE == "sm" {
        @media (min-width: $screen-sm) and (max-width: ($screen-md - 1)) {
            @content;
        }
    }
    // Medium screen / desktop
    @else if $DEVICE == "md" {
        @media (min-width: $screen-md) and (max-width: ($screen-lg - 1)) {
            @content;
        }
    }
    // Large screen / wide desktop
    @else if $DEVICE == "lg" {
        @media (min-width: $screen-lg) {
            @content;
        }
    }
}

@include mq(xs) {
    agm-map {
        height: ($screen-sm - 1);
        width: ($screen-sm - 1);
    }
}
@include mq(sm) {
    agm-map {
        height: ($screen-md - 1);
        width: ($screen-md - 1);
    }
}
@include mq(md) {
    agm-map {
        height: ($screen-lg - 1);
        width: ($screen-lg - 1);
    }
}
@include mq(lg) {
    agm-map {
        height: $screen-lg;
        width: $screen-lg;
    }
}