<form [formGroup]="signupForm" #formDir="ngForm" (ngSubmit)="signup()">
    <div class="md-form form-group">
        <i class="fa fa-envelope prefix active"></i>
        <label class="active" for="email">メールアドレス</label>
        <input id="email" type="email" class="form-control email" formControlName="email" placeholder="メールアドレス" i18n-placeholder mdbActive mdbInputValidate>
    </div>
    <div class="md-form form-group">
        <i class="fa fa-lock prefix active"></i>
        <label class="active" for="password">パスワード</label>
        <input id="password" type="password" class="form-control password" formControlName="password" placeholder="パスワード" i18n-placeholder mdbActive mdbInputValidate>
    </div>

    <button type="submit" class="btn btn-blue-grey waves-light" [disabled]="signupForm.invalid" mdbRippleRadius>登録</button>
</form>
